<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dht.music">

    <application>
        <activity android:name=".MusicActivity" />
        <activity android:name=".recentplay.RecentPlayActivity" />
        <activity android:name=".cloud.CloudDiskActivity" />
        <activity android:name=".download.DownloadActivity" />
        <activity
            android:name=".local.LocalActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".playmusic.PlayMusicActivity" />
    </application>
</manifest>
